.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid #7ada32;
    border-top-color: #fb9a12;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}